.nav-container {
  border: 2px solid black;
  width: 150px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: fixed;
}
.hotstar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding-bottom: 100px;
}
.icons {
  font-size: 55px;
}
.space-logo {
  width: 20px;
}
.navbar-li {
  display: flex;
  height: 450px;
  list-style: none;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
}
.navbar-li:hover {
  cursor: default;
}

.li-span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.nav-span {
  transition: 1s;
  opacity: 0;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
}
.navbar-li:hover .nav-span {
  opacity: 1;
}
.navbar-li:hover .nav-span:hover {
  transform: translateX(30px);
}
